        /* COLORS
#16697A
#DB6400
#FFA62B
#F8F1F1 
#009ddb
        */

        /* FONTS 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Emilys Candy', cursive;
font-family: 'Sacramento', cursive;
        */

body {
    background-color: #16697A;
    margin: 0;
    text-align: center;
    font-family: 'Emilys Candy', cursive;
    color: #F8F1F1; 

}

h1 {
    font-size: 5.625rem;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFA62B;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: #DB6400;
}

hr {
    width: 5%;
    border-style: dashed;
    color: #009ddb; 
    margin: 50px auto;
}

table {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

a {
    color: #DB6400;
    text-decoration: none;
}

a:hover{
    font-weight:bold;
    }



        /* CLASSES  */


.top-container {
    color: #F8F1F1; 
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin-bottom: 30px;
}


.bottom-container { 
    background-color: #F8F1F1;
    padding: 25px 0 10px;
}


.sun-img {
    position: absolute;
    right: 125px;
    top: 15px;
    width: 25%;
    height: 25%;
}

.balloon-img {
    position: absolute;
    left: 100px;
    bottom: 350px;
    width: 15%;
    height: 25%;
}

.city-img {
    filter: grayscale(50%);
    margin-bottom: 50px;
}

.selfie-img {
    width: 8.25rem;
    height: 8.25rem;
}

.github-link {
    padding-right: 2px;
}

.background-section {
    width: 50%;
    margin: 0px auto 0px auto;
    text-align: left;
    line-height: 2;   
}


.nyu {
    position: relative;
    left: 50%;
    bottom: 6.25rem;
}

.nyu-img {
    width: 15%;
    float: left;
    margin-right: 1.875rem;
    padding-top: 1.25rem;
}

.osu-img {
    width: 10%;
    filter: invert(57%) sepia(90%) saturate(732%) hue-rotate(360deg) brightness(102%) contrast(105%);
    float: left;
    margin-right: 1.875em;
}

.current-job {
    width: 50%;
    margin: 0px auto 50px auto;
    text-align: center;
    line-height: 2;
}
    

.trimble-img {
    width: 25%;
    filter: invert(43%) sepia(47%) saturate(870%) hue-rotate(171deg) brightness(95%) contrast(106%);  
}

.contact-message {
    margin-bottom: 25px;
}

.btn {
    background: #009ddb;
    background-image: -webkit-linear-gradient(top, #009ddb, #072030);
    background-image: -moz-linear-gradient(top, #009ddb, #072030);
    background-image: -ms-linear-gradient(top, #009ddb, #072030);
    background-image: -o-linear-gradient(top, #009ddb, #072030);
    background-image: linear-gradient(to bottom, #009ddb, #072030);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFA62B;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #009ddb;
    background-image: -webkit-linear-gradient(top, #009ddb, #000000);
    background-image: -moz-linear-gradient(top, #009ddb, #000000);
    background-image: -ms-linear-gradient(top, #009ddb, #000000);
    background-image: -o-linear-gradient(top, #009ddb, #000000);
    background-image: linear-gradient(to bottom, #009ddb, #000000);
    text-decoration: none;
  }

  .footer-link {
    color: #FFA62B;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    margin: 10px 20px;
  }

  .copyright {
      color: #DB6400;
      font-size: .75rem;
      padding: 20px 0;
  }

 

        /* IDs  */






